{% extends "background.html" %}
{% block body %}
<div class=score>所有用户：</div>
<table border='1' cellspacing="0" cellpadding="5">
  <tr>
    <td>注册时间</td>
    <td>姓名</td>
    <td>电话号码</td>
    <td>实际积分</td>
    <td>推荐积分</td>
    <td>操作</td>
  </tr>
  {% for u in users %}
  <tr>
    <td>{{ u[0] }}</td>
    <td><a href="/background/detail/{{ u[5] }}">{{ u[1] }}</a></td>
    <td>{{ u[2] }}</td>
    <td>{{ u[3] }}</td>
    <td>{{ u[4] }}</td>
    <td><a href="/background/zero/{{ u[5] }}">积分清零</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
