{% extends "layout.html" %}
{% block body %}
<h1>积分详情</h1>
  <div class=score>实际积分：{{ real_score }}</div>
  <div class=score>推荐积分：{{ virtual_score }}</div>
  {% if virtual_score and virtual_score!=0 %}
  <div>———————————————————————</div>
  <div class=score>推荐详情：</div>
  <table border='1' cellspacing="0" cellpadding="5">
    <tr>
      <td>推荐时间</td>
      <td>被推荐人姓名</td>
      <td>被推荐人电话号码</td>
      <td>状态</td>
    </tr>
    {% for r in res %}
    <tr>
      <td>{{ r[0] }}</td>
      <td>{{ r[1] }}</td>
      <td>{{ r[2] }}</td>
      <td>{{ r[3] }}</td>
    </tr>
    {% endfor %}
  </table>
  <div class=score>被推荐人状态说明</div>
  <table border='1' cellspacing="0" cellpadding="5">
    <tr>
      <td>推荐状态</td>
      <td>增加实际积分</td>
      <td>增加推荐积分</td>
    </tr>
    <tr>
      <td>新增</td>
      <td>0</td>
      <td>150</td>
    </tr>
    <tr>
      <td>入学考试</td>
      <td>50</td>
      <td>-50</td>
    </tr>
    <tr>
      <td>缴纳学费</td>
      <td>100</td>
      <td>-100</td>
    </tr>
  {% endif %}
{% endblock %}
